@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.letter{
    border:4px solid $primary-color;
    border-radius:4px;
   
}
.Banner-bg{
    /*height: 205px;*/
    /*a{
        font-size:12px;
        font-family: Helios Regular, sans-serif;
        color: $primary-color;
        
    }
    a:hover{
        color:#0e1151;
    }
    .layout-h{margin-top:-100px;}*/
    table{height: 205px;width:585px;
        background-image: url("https://github.com/LinchakMV/Letter/blob/master/src/assets/img/Banner.png?raw=true");
    }
    td>p>a{
        padding-left:40px;
        font-size:12px;
    }
    .video-link a{
        margin:0px;
    }
}
.text-eat a{
    padding-left: 18px;
    white-space: nowrap;
    font-weight: bold;
    font-style: italic;
}
/*.video-link img{
    margin:-15px 0 0 0px;
}
.photo-link img{
    margin:-15px 0 50px 0px;
}*/
.video-link img:hover, .photo-link img:hover{
    background-color: #ccc;
}
a{
    text-decoration: underline;
}
.photo-video{
    font-size: 18px;
    letter-spacing: 3px;
}
.center-text-column{
     p{
        padding: 0px 50px 0 50px;
    }
    h5{
        font-weight: bold;
    }
    a:hover{
        color: #0e1151;
    }
}
.center-text-column img{
    margin-top:-40px;
}
.center-text-column{

    padding-bottom:0 !important;
}
.podarok{
    font-size:15px;
}
.competition{
    font-size:14px;
}
.footer-d{
    background-color: $primary-color;
    /*margin-top:-20px;*/
}
.footer-d p{
    color: #fff;
}
.footer-container{
    background-color: $primary-color !important;
    p{
        color: #fff;
        padding-top:20px;
        font-size:10px;
    }
    .site a{
        color: #fff;
        text-decoration: none;
        font-size:18px;
        
    }
    a:hover{
            color: $secondary-color;
        }
    
}
.img-ds{
     td{    
        padding: 0 5px;
     }

}
