{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{subject}}</title>
</head>
<body>
  <span class="preheader">{{description}}</span>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
          <container class="letter">
            <container>
              <row>
                <columns small="2" large="2"></columns>
                <columns small="8" large="8" class="large-offset-2">
                  <img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/Logo.png?raw=true" alt="logo">
                </columns>
                <columns small="2" large="2">
                  <img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/Candy_top1.png?raw=true" alt="candy">
                </columns>
              </row>
            </container>
            <container class="Banner-bg">
               <table class="spacer">
                <tbody>
                  <tr>
                    <td height="100px" style="font-size:100px;line-height:100px;"></td>
                  </tr>
                  <tr>                    
                    <td><p><a href="#">"Кушаем весело, кушаем полезно!"</a></p></td>
                    <td rowspan="5"></td>
                    <td class="video-link"><a href="#"><img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/video.png?raw=true" alt="video"></a></td>
                    <td><a href="#"><img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/photo.png?raw=true" alt="photo"></a></td>
                  </tr>
                </tbody>
              </table>
            </container>
            <container>
              <row>
                <columns>
                  <center>
                    <img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/photo-line.png?raw=true" alt="">
                  </center>
                </columns>
              </row>
              <row>
                <columns>
                    <p class="text-center photo-video">Фото/Видео конкурс</p>
                </columns>
              </row>
              <row>
                <columns>
                  <center>
                    <img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/text.png?raw=true" alt="">
                  </center>
                </columns>
              </row>
              <row>
                <columns>
                  <center>
                    <img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/line.png?raw=true" alt="">
                  </center>
                </columns>
              </row>
            </container>
            <container>
              <row>
                <columns class="center-text-column">
                  <h5 class="text-center">Дорогие пользователи портала!</h5>
                  <p class="text-center competition">У нас для Вас новый конкурс!</p>
                  <p class="text-center podarok">А Вы знали, что молочные продукты укрепляют иммунитет?
                    Давайте кушать их вместе! Фотографируйте, снимайте на 
                    видео своих милых замарашек пока они кушают вкусняшки
                    и <a href="#">делитесь</a> ими с нами, а TM Vivo подарит набор лучших заквасок для всей семьи!
                  </p>
                  <img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/Candy_down1.png?raw=true" alt="candy">
                </columns>
              </row>
            </container>
            <container class="footer-container">
              <row class="footer-d">
                <columns>
                  <p class="text-center">И не забивайте приглашать друзей для участия в конкурсе и голосования!</p>
                </columns>
              </row>
              <table class="img-ds" align="center">
                <tbody>
                  <tr>
                    <td>
                      <a href="#"><img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/facebook_1.png?raw=true" alt="facebook"></a>                      
                    </td>
                    <td>
                      <a href="#"><img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/vk.png?raw=true" alt="vk"></a>
                    </td>
                    <td>
                      <a href="#"><img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/twitter.png?raw=true" alt="twitter"></a>
                    </td>
                    <td>
                      <a href="#"><img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/youtube.png?raw=true" alt="youtube"></a>
                    </td>
                    <td>
                      <a href="#"><img src="https://github.com/LinchakMV/Letter/blob/master/src/assets/img/google.png?raw=true" alt="google+"></a>
                    </td>
                  </tr>
                </tbody>
              </table>              
                <row>
                  <columns>
                   <p class="text-center site"><a href="#">www.childbrand.ua</a></p>
                  </columns>
                </row>
            </container>
          </container>
        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>

